<div fxLayout="column" fxLayoutGap="20px" style="padding-left: 10px">
    <h6>Menú</h6>

    <a style="margin-top: 15px" routerLink="personas">Personas</a>

    <a routerLink="personas">sdvsdv sdvsdv sdvd</a>

    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>
    <a routerLink="personas">Personas</a>

</div>
